.ui-essence-table-wrapper {
    position: relative;

    .search-wrapper {
        margin-bottom: 10px;

        input {
            width: 220px;
        }
    }

    .ui-essence-table {
        .order:hover {
            cursor: pointer;
        }
    }

    .ellip {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .td-select {
        cursor: pointer;

        &:hover {
            background-color: rgba(240, 173, 78, 0.1);
        }
    }
}

.complexSearchBox{
    margin-bottom: 10px;
    display: none;
    border: 1px dashed green;
    padding:10px;
    border-radius: 5px;
    .formBox{
        margin-bottom: 10px;
    }
    &.showComplex{
        display: block;
    }
}
