<div class="ui-essence-table-wrapper">
	<div class="pull-left" *ngIf="config.operateBtn.length>0">
		<button style="margin-right: 5px;" *ngFor="let btn of config.operateBtn" class="btn" [ngClass]="btn.cls" (click)="btnClick(btn)">{{btn.text}}</button>
	</div>
	<div class="pull-right hidden-print search-wrapper">
		<form class="form-inline">
			<div class="input-group">
				<input type="text"
				       class="form-control"
				       name="searchText"
				       [(ngModel)]="searchText"
				       [formControl]="searchInput"
				       placeholder="全局搜索，多条件用空格隔开">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-search"></span>
				</div>
			</div>
		</form>
	</div>
	<table class="table table-bordered table-striped table-hover ui-essence-table">
		<thead>
			<tr>
				<td *ngIf="config.columns.batch" class="text-center">
					<input type="checkbox" [checked]="tableData && selectedDatas.length === tableData.items.length" [indeterminate]="tableData && selectedDatas.length > 0 && selectedDatas.length < tableData.items.length" (change)="checkboxAllChangeEvent($event)">
				</td>
				<th *ngIf="config.columns.index.enabled" class="text-nowrap text-center" [class.hidden-print]="!config.columns.index.print">序号</th>
				<ng-container *ngFor="let column of config.columns.items;">
					<th *ngIf="column.visible" [ngClass]="{'text-nowrap': true, 'text-center': true, 'hidden-print': !column.print, 'order': column.order}" (click)="sort(column)" [style.width]="column.width">
						<span>
							{{column.label}}
						</span>
						<i class="fa hidden-print" *ngIf="column.order" [ngClass]="{'fa-sort text-muted': column.order === 'normal' || column.operator === 'normal', 'fa-sort-asc': column.operator === 'asc', 'fa-sort-desc': column.operator === 'desc'}"></i>
					</th>
				</ng-container>
			</tr>
		</thead>
		<tbody>
			<tr *ngIf="!tableData || isSearching" class="info">
				<td *ngIf="config.columns.batch" class="text-center">
					<input type="checkbox">
				</td>
				<td class="text-center" [attr.colspan]="config.columns.items.length + 1">
					<i class="fa fa-spinner fa-pulse fa-fw"></i>
					数据加载中...
				</td>
			</tr>
			<ng-container *ngIf="tableData">
				<tr [class.success]="data.selected" *ngFor="let data of tableData.items; trackBy: trackById; let dataIndex = index;" (click)="rowChangeEvent(data)">

					<!--批量复选框-->
					<td *ngIf="config.columns.batch" class="text-center">
						<input type="checkbox"
						       [checked]="data.selected"
						       (change)="checkboxChangeEvent(data)">
					</td>

					<!--序号-->
					<td *ngIf="config.columns.index.enabled" class="text-center" [class.hidden-print]="!config.columns.index.print">{{dataIndex + tableData.startIndex}}</td>

					<!--单元格内容-->
					<ng-container *ngFor="let column of config.columns.items;">
						<td *ngIf="column.visible" [ngClass]="column.cls" [ngStyle]="column.style" [class.hidden-print]="!column.print" [class.td-select]="column.event" (click)="tdClick(column, data)">
							<div *ngIf="!column.render" [innerHTML]="domSanitizer.bypassSecurityTrustHtml(data[column.colName])" [style.width]="column.width" [class.ellip]="column.ellipsis"></div>
							<div *ngIf="isFunction(column.render)" [innerHTML]="domSanitizer.bypassSecurityTrustHtml(column.render(data[column.colName], data))" [style.width]="column.width" [class.ellip]="column.ellipsis"></div>
							<div *ngIf="isArray(column.render)">
								<button style="margin: 2px;" *ngFor="let button of column.render;" type="button" class="btn" [ngClass]="button.cls" (click)="button.event(data)">{{button.text}}</button>
							</div>
						</td>
					</ng-container>
				</tr>
			</ng-container>
			<tr *ngIf="tableData && tableData.items && tableData.items.length <= 0">
				<td *ngIf="config.columns.batch" class="text-center">
					<input type="checkbox">
				</td>
				<td class="text-center" [attr.colspan]="config.columns.items.length + 1">
					无数据！
				</td>
			</tr>
		</tbody>
	</table>
	<div class="row hidden-print" *ngIf="tableData">
		<div class="col-sm-6 ui-essence-table-pageInfo">
			显示 {{tableData.startIndex}} 到 {{tableData.endIndex}} 条，共 {{tableData.totalCount}} 条数据
		</div>
		<div class="col-sm-6 pull-right ui-essence-table-pageBtn">
			<div class="pull-right">
				<essence-ng2-pagination [totalItems]="tableData.totalCount"
				                        [(ngModel)]="config.serverParam.currentPage"
				                        [maxSize]="5"
				                        [itemsPerPage]="config.serverParam.pageSize"
				                        class="pagination-sm"
				                        [boundaryLinks]="true"
				                        [rotate]="false"
				                        previousText="上一页"
				                        nextText="下一页"
				                        firstText="首页"
				                        lastText="尾页"
				                        (pageChanged)="pageChanged($event)">
				</essence-ng2-pagination>
			</div>
		</div>
	</div>
</div>
