.ui-essence-table-wrapper {

    .search-wrapper {
        margin-bottom: 10px;

        input {
            width: 220px;
        }
    }

    .ui-essence-table {
        .order:hover {
            cursor: pointer;
        }
    }

    .ellip {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
