.ui-essence-table-wrapper {

    .search-wrapper {
        margin-bottom: 10px;

        input {
            width: 220px;
        }

        .input-group-addon {
            cursor: pointer;
        }
    }

    .ui-essence-table {
        .order:hover {
            cursor: pointer;
        }
    }
}
