<div class="ui-essence-table-wrapper">
	<table class="table table-bordered ui-essence-table">
		<thead>
			<tr>
				<td *ngIf="config.columns.batch" class="text-center">
					<input type="checkbox" [checked]="batchAllCheckStatus" (change)="checkboxAllChangeEvent($event)">
				</td>
				<th *ngIf="config.columns.index" class="text-nowrap text-center">序号</th>
				<ng-container *ngFor="let column of config.columns.items;">
					<th *ngIf="column.visible" class="text-nowrap text-center" [class.order]="column.order" (click)="sort(column)" [attr.width]="column.width">
						<span>
							{{column.label}}
						</span>
						<i class="fa hidden-print" *ngIf="column.order" [ngClass]="{'fa-sort text-muted': column.order === 'NORMAL' || column.operator === 'NORMAL', 'fa-sort-asc': column.operator === 'ASC', 'fa-sort-desc': column.operator === 'DESC'}"></i>
					</th>
				</ng-container>
			</tr>
		</thead>
		<tbody *ngIf="tableData">
			<tr *ngFor="let data of tableData.items; trackBy: trackById; let dataIndex = index;">

				<!--批量复选框-->
				<td *ngIf="config.columns.batch" class="text-center">
					<input type="checkbox"
					       [checked]="data.selected"
					       (change)="checkboxChangeEvent($event,data)">
				</td>

				<!--序号-->
				<td *ngIf="config.columns.index" class="text-center">{{dataIndex + tableData.startIndex + 1}}</td>

				<!--单元格内容-->
				<ng-container *ngFor="let column of config.columns.items;">
					<td *ngIf="column.visible" [ngClass]="column.cls" [ngStyle]="column.style">
						<div *ngIf="!column.render" [innerHTML]="domSanitizer.bypassSecurityTrustHtml(data[column.colName])"></div>
						<div *ngIf="isFunction(column.render)" [innerHTML]="domSanitizer.bypassSecurityTrustHtml(column.render(data))"></div>
						<div *ngIf="isArray(column.render)">
							<button *ngFor="let button of column.render;" type="button" class="btn" [ngClass]="button.cls" (click)="button.event(data)">{{button.text}}</button>
						</div>
					</td>
				</ng-container>
			</tr>
			<tr *ngIf="tableData.items && tableData.items.length <= 0">
				<td *ngIf="config.columns.batch.enabled" class="text-center">
					<input type="checkbox">
				</td>
				<td class="text-center" [attr.colspan]="config.columns.items.length">
					无数据！
				</td>
			</tr>
		</tbody>
		<tfoot *ngIf="config.columns.filter && tableData" class="hidden-print">
			<tr>
				<td *ngIf="config.columns.batch" class="text-center"></td>
				<td *ngIf="config.columns.index"></td>
				<ng-container *ngFor="let column of config.columns.items;">
					<td *ngIf="column.visible">
						<div *ngIf="column.filterProp.enabled">
							<input type="text" class="form-control" (keyup)="setCurrentColumn(column)" *ngIf="column.filterProp.type === 'string'" [placeholder]="column.label" [formControl]="filterInput">
							<select class="form-control" (change)="filter($event.target.value, column)" *ngIf="column.filterProp.type === 'select'">
								<option value="">全部</option>
								<option *ngFor="let prop of column.filterProp.value" [value]="prop.value">{{prop.text}}</option>
							</select>
							<input type="date" class="form-control" (change)="filter($event.target.value, column)" *ngIf="column.filterProp.type === 'date'">
						</div>
					</td>
				</ng-container>
			</tr>
		</tfoot>
	</table>
	<div class="row" *ngIf="tableData">
		<div class="col-sm-6 ui-essence-table-pageInfo">
			显示 {{tableData.startIndex + 1}} 到 {{tableData.endIndex}} 条，共 {{tableData.totalCount}} 条数据
		</div>
		<div class="col-sm-6 hidden-print ui-essence-table-pageBtn">
			<div class="btn-toolbar pull-right" role="toolbar" *ngIf="tableData.totalCount > 0">
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-default" (click)="prePage()" [disabled]="tableData.currentPage == 1"><i class="fa fa-chevron-left"></i></button>
				</div>
				<div class="btn-group">
					<ng-container *ngFor="let b of numberArray(tableData.pageCount)">
						<button *ngIf="generateForButton(b, tableData.currentPage, numberArray(tableData.pageCount).length)" class="btn btn-sm btn-default" [disabled]="generateForText(b, tableData.currentPage, numberArray(tableData.pageCount).length)==='...'" [ngClass]="{active: b == tableData.currentPage}" (click)="toPage(generateForText(b, tableData.currentPage, numberArray(tableData.pageCount).length)==='...'?-1:b)" >
							{{generateForText(b, tableData.currentPage, numberArray(tableData.pageCount).length)}}
						</button>
					</ng-container>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-default" (click)="nextPage()" [disabled]="tableData.currentPage == tableData.pageCount"><i class="fa fa-chevron-right"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
